@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
	background: #222831;
}
.content{
    padding: 20px 8%;
    margin-top: 100px;
    color: grey;
}
.card{
    /*margin-top: 20px;*/
    border-bottom: 3px solid #2f3336;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 10px;
    transform: scale(1.19);
    width: 100%;
    /*position: fixed;*/
    z-index: 2;
}
.card:hover{
    transition:0.5s;
}
.head{
    display: flex;
    right: 0;
}
.date p{
    right: 30px;
}
.content-card{
    margin-top: 30px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 20px;
    margin-right: 85px;
}
.title{
    border-bottom: 1px solid grey;    
    margin-left: 20px;
}

.footer{
    display: flex;
    margin-left: 20px;
    /*justify-content: center;*/
}

.modifyBtn button{
    padding: 10px 15px;
    color: #F05454;
    background-color: #222831;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #F05454;
    margin-top: 10px;
}
.modifyBtn button:hover{
    padding: 10px 15px;
    color: #222831;
    background-color: #F05454;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #222831;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.deleteBtn button{
    padding: 10px 15px;
    color: #F05454;
    background-color: #222831;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #F05454;
    margin-top: 10px;
    margin-left: 10px;
}
.deleteBtn button:hover{
    padding: 10px 15px;
    color: #222831;
    background-color: #F05454;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #222831;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.statsBtn button{
    padding: 10px 15px;
    color: #ffc600;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #ffc600;
    margin-top: 10px;
    margin-left: 10px; 
}
.statsBtn button:hover{
    padding: 10px 15px;
    color: #222831;
    background-color: #ffc600;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #222831;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.addPost{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ffc600;
    color: black;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.footer-card{
    margin: 0;
    padding: 0;
}
.btnOk{
    color: green;
    padding: 8px 14px;
}
.btnNo{
    color: red;
    padding: 8px 16px;
}
.btnOk, .btnNo{
    border: 1px solid #F05454;
    background-color: transparent;
    border-radius: 5px;
    font-size: 25px;
    width: 46%;
    margin-left: 10px;
    margin-top: 5px;
}
.comments{
    /*position: fixed;*/
    margin-top: 30px;
    margin-left: 20px;
}
.answer-btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #2f3336;
    color: white;
}
.answer{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: transparent;
}
.author{
    text-decoration: underline;
}
.submit-btn{
    border-radius: 5px;
    background-color: #ffc600;
    color: #222831;
    border: none;
    padding: 11px 20px;
    margin-left: 10px;
}
.sep{
    border: 3px solid #2f3336;
}
.answers-container{
    margin-top: 30px;
}
.answer_header i{
    float: right;
    margin-top: calc(-5px);
}
.likes{
    margin-top: calc(-10px);
    float: right;
    margin-left: 40px;
    margin-right: calc(-30px);
}
.likes p{
    margin-top: 5px;
    text-align: center;
}
.posts{
    margin-right: calc(-20px);
}
.likes button{
    background-color: transparent;
    color: grey;
    border: none;
    font-size: 15px;
}
.liked{
    color: grey;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .date{
        text-align: right;
    }
}

