@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
	background: #222831;
}
.content{
    padding: 20px 8%;
    margin-top: 100px;
    color: grey;
}
.card{
    margin-top: 20px;
    border: 1px solid #F05454;
    border-radius: 5px;
    padding: 10px 10px;
}
.card:hover{
    transition:0.5s;
    transform: scale(1.05);
}
.head{
    display: flex;
    right: 0;
}
.date p{
    right: 30px;
}
.content-card{
    margin-top: 30px;
    margin-bottom: 10px;
}
.title{
    border-bottom: 1px solid grey;
}

.modifyBtn button{
    padding: 10px 15px;
    color: #F05454;
    background-color: #222831;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #F05454;
    margin-top: 10px;
}
.modifyBtn button:hover{
    padding: 10px 15px;
    color: #222831;
    background-color: #F05454;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #222831;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .date{
        text-align: right;
    }
}
