@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
	background: #222831;
}
.form-box{
    margin-top: 80px;
    margin-left: 25px;
}
form{
    margin-top: 25px;
}
.alert-msg{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F05454;
}

#input-form{
    border: 1px solid #F05454;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
    color: white;
    text-align: center;
    width: 95%;
    height: 50px;
    margin-right: 20px;
}
textarea{
    border: 1px solid #F05454;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
    color: white;
    resize: none;
    font-family: "Montserrat", sans-serif;
    width: calc(95% - 20px * 2);
    height: 200px; 
    padding: 20px;
}
textarea:active{
    border: none;
}
.btnSubmit{
    background-color: #F05454;
    color: white;
    padding: 10ox 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    width: 95%;
}
button{
    padding: 0;
    color: white;
    background-color: #F05454;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    text-align: center;
    width: 96%;
}
#create{
    margin-top: 10px;
}
.title-post{
    color: white;
}

span{
    color: #F05454;
}
select{
    padding: 10px 15px;
    border:none;
    background-color: #222831;
    color: #F05454;
    border-radius: 5px;
    justify-content:center;
}
.select{
    display: flex;
}
.publish-in{
    color: grey;
    margin-top: 9px;
}
/*
@media only screen and (max-width: 767px) {
    #input-form{
        padding: 20px 24%;
    }
    textarea{
        height: 20em;
        width: 21.3em;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
    #input-form{
        padding: 20px 36%;
    }
    textarea{
        height: 20em;
        width: 45em;
    }
}
*/